<main>
  <section class="section">
    <h1 class="section_title">Password generator</h1>
    <form class="section_form form">
      <h2 class="form_title">Generate your password <br>(choose at least 2 options)</h2>

      <div class="form_input">
        <h3 class="form_input-name">Pass Length</h3>
        <input
          type="number"
          class="form_length"
          [(ngModel)]="useLength"
          name="length" />
      </div>

      <div class="form_input">
        <h3 class="form_input-name">Need numbers?</h3>
        <div class="form_buttons">
          <button
            type="button"
            class="button"
            [ngClass]="{ isActive: useNumbers === true }"
            (click)="useNumbers = true"
          >
            Yes
          </button>
          <button
            type="button"
            class="button"
            [ngClass]="{ isActive: useNumbers === false }"
            (click)="useNumbers = false"
          >No</button>
        </div>
      </div>

      <div class="form_input">
        <h3 class="form_input-name">Need lower case letters?</h3>
        <div class="form_buttons">
          <button
            type="button"
            class="button"
            [ngClass]="{ isActive: useLowerCase === true }"
            (click)="useLowerCase = true"
          >
            Yes
          </button>
          <button
            type="button"
            class="button"
            [ngClass]="{ isActive: useLowerCase === false }"
            (click)="useLowerCase = false"
          >
            No
          </button>
        </div>
      </div>

      <div class="form_input">
        <h3 class="form_input-name">Need upper case letters?</h3>
        <div class="form_buttons">
          <button
            type="button"
            class="button"
            [ngClass]="{ isActive: useUpperCase === true }"
            (click)="useUpperCase = true"
          >
            Yes
          </button>
          <button
            type="button"
            class="button"
            [ngClass]="{ isActive: useUpperCase === false }"
            (click)="useUpperCase = false"
          >
            No
          </button>
        </div>
      </div>

      <div class="form_input">
        <h3 class="form_input-name">Need special symbols?</h3>
        <div class="form_buttons">
          <button
            type="button"
            class="button"
            [ngClass]="{ isActive: useSymbols === true }"
            (click)="useSymbols = true"
          >
            Yes
          </button>
          <button
            type="button"
            class="button"
            [ngClass]="{ isActive: useSymbols === false }"
            (click)="useSymbols = false"
          >
            No
          </button>
        </div>
      </div>

        <button
          type="button"
          class="submitBtn generateBtn"
          [class.disabled]="!isValid()"
          (click)="isValid() ? generatePassword() : triggerValidation()"
        >
          {{loading ? 'Loading password...' : 'Generate password'}}
        </button>
      <div class="fail notification" *ngIf="fail">Please choose at least 2 options</div>

      <div class="passBox" *ngIf="password">
        <div class="passBox_label">Pass generated successfully:</div>
        <div class="passBox_value">{{ password }}</div>
        <button type="button" class="submitBtn copyBtn" (click)="copyPassword()">
          Copy
        </button>
        <div class="success notification" *ngIf="success">Password copied!</div>
      </div>
    </form>
  </section>
</main>
